/*Sergio Truébano Robles*/

/*Especifidades: 002*/
main>article{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
/*Especifidades: 003,012*/
main > article > h2 ,
main section[data-element="help"]{
    display: block; 
    grid-column: span 9; 
}
/*Especifidades: 023*/
main article[data-element="crucigrama"] p[data-state]{
    padding: 0.5em;
    margin: 0;
    text-align: center;
    border: 0.1em solid black;
}
/*Especifidades: 011,011*/
p[data-state="init"],
p[data-state="blocked"]{
    /*Colores heredados de body*/
    background-color: white;
}
/*Especifidades: 011*/
p[data-state="empty"]{
    /*Color heredado de body y aunque es negro y no se vería
      este componente no tiene texto*/
    background-color: black;
}
/*Especifidades: 011*/
p[data-state="clicked"]{
    /*Color heredado de body aunque inicialmente no se ve texto.
      La casilla puede ser seleccionada con texto si está en estado "correct",
      pero el color es cambiado a blanco entonces (definidio posteriormente)*/
    background-color: #4A4A4A;
}
/*Especifidades: 011*/
    p[data-state="correct"]{
    background-color: #004D99;
    color: white;
}
/*Especifidades: 011*/
p[data-row="0"]{
    border-top: 0.3em solid black;
}
/*Especifidades: 011*/
p[data-row="10"]{
    border-bottom: 0.3em solid black;
}
/*Especifidades: 011*/
p[data-column="0"]{
    border-left: 0.3em solid black;
}
/*Especifidades: 011*/
p[data-column="8"]{
    border-right: 0.3em solid black;
}
/*Especifidades: 011*/
section[data-type=botonera]{
    display: none;
}
/*Especifidades: 003*/
main ol li{
    list-style-type: decimal;
}

@media screen and (max-width: 499px){
    /*Especifidades: 011*/
    section[data-type=botonera] {
        /*Redefinición para hacer visible la botonera*/
        display: flex;
        gap: 1em;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    /*Especifidades: 012*/
    section[data-type=botonera] h2 {
        width: 100%;
        text-align: center;
    }
    /*Especifidades: 012*/
    section[data-type=botonera] button {
        width: calc(15% - 1em);
        height: 4em;
        text-align: center;
        background-color: #000;
        color: #FFF;
    }
}