/*Sergio Truébano Robles*/
/*
Colores: 

Baby Blue
#E1EEEF

Midnight Blue
#41729F

Blue Gray
#5885AF

Dark Blue
#274472

Navy Blue
#00264D

-----
EXTRA
-----

Amarillo
#EFD41F
Morado
#2D0674
Rojo
#931515
Azul neon
#2D01F4
Salmon
#F99F9F
Gris
#B5B5B5

*/
/*Especifidad: 001*/
body{
    font-family: "Trebuche MS", Verdana, Tahoma, sans-serif ;
    background-color: #E1EEEF;
    color: #000000;
    font-size: 1em;
}
/*Especifidad: 001*/
header{
    background-color: #00264D;
    color: #FFFFFF;
}
/*Especifidad: 001*/
video{
    width: 80%;
    height: auto;
    padding: 1em 5em 2em 2em;
}
/*Especifidad: 001*/
img{
    width: 80%;
    height: auto;
    padding: 1em 5em 2em 2em;
}
/*Especifidad: 001*/
table{
    padding: 1em;
}
/*Especifidad: 001*/
th{
    padding: 0.6em 0.6em;
}
dt{
    padding: 0.5em;
}
/* Especifidad: 002 */
tr>th{
    color:#FFFFFF;
    background-color: #00264D;
}
/* Especifidad: 002 */
tr>td{
    text-align: center;
    /* Color heredado de body */
    background-color: #FFFFFF;
}
/* Especifidad: 002 */
header>h1{
    font-size: 2.8em;   
} 
/*Especifidad: 002*/
 header>nav{
    font-size: 1.2em;
}
/*Especifidad: 002*/
body h2{
    font-size: 2em;
}
/*Especifidad: 002*/
body h3{
    font-size: 1.75em;
}
/*Especifidad: 003*/
body section ul{
    list-style-type: square;
}
/*Especificidad: 003*/
body section ol{
    list-style-type: upper-roman;
}
/*Especificidad: 004*/
body ul>li>ol{
    list-style-type: lower-roman;
}
/*Especificidad: 004*/
body dl>dt>dd{
    /* Color de fondo heredado de body */
    color: #2D0674;
    font-size: 1.1em;
}
/*Especifidad: 013*/
section>ul>li:nth-child(3){
    /* Color de fondo heredado de body */
    color: #2D0674;
}
/*Especifidad: 013*/
header>nav a:link{
    /* Color de fondo heredado de body */
    color: #EFD41F;
}
/*Especifidad: 013*/
header>nav a:hover{
    /* Color de fondo heredado de body */
    color: #F99F9F;
}
/*Especifidad: 013*/
header>nav a:focus{
    /* Color de fondo heredado de body */
    color: #F99F9F;
}
/*Especifidad: 013*/
header>nav a:visited{
    /* Color de fondo heredado de body */
    color: #B5B5B5;
}
/*Especifidad: 013*/
body a:link{
    /* Color de fondo heredado de body */
    color: #931515;
}
/*Especifidad: 013*/
body a:hover{
    /* Color de fondo heredado de body */
    color: #2D01F4;
}
/*Especifidad: 013*/
body a:focus{
    /* Color de fondo heredado de body */
    color: #2D01F4;
}
/*Especifidad: 013*/
body a:visited{
    /* Color de fondo heredado de body */
    color: #2D0674;
}



