/*Sergio Truébano Robles*/

/*Especifidad: 001*/
header{
    display: flex;
    flex-wrap: wrap; /*Ayuda en el intervalo que no cubre la media query*/
    align-items: center;
    justify-content: space-evenly;
}
/*Especifidad: 003*/
nav ul>li{
    list-style-type: none;
    padding: 0.2em 0.3em;
}
/*Especifidad: 003*/
header>nav>ul {
    display: flex;
}

@media (min-width: 50em) {
    /*Especifidad: 001*/
    header{
        /*Redifinición de dirección de h1 y nav a vertical*/
        flex-direction: row;
    }
    /*Especifidad: 003*/
    header>nav>ul {
        /*Redifinición de dirección de navegación a horizontal*/
        flex-direction: row;
    }
}
@media (max-width: 50em) {
    /*Especifidad: 001*/
    header{
        /*Redifinición de dirección de h1 y nav a vertical*/
        flex-direction: column;
    }
    /*Especifidad: 003*/
    header>nav>ul {
        /*Redifinición de dirección de navegación a vertical*/
        flex-direction: column;
    }
}

