/*Sergio Truébano Robles*/

/*Especifidad: 001, 011*/
header, 
section[data-element="menu"]{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-evenly;
}
/*Especifidad: 001*/
body{
    margin: 0;
}
/*Especifidad: 001, 001*/
main,
aside{
    margin: 1em;
}

/*Especifidad: 001*/
nav {
    display: flex;
    column-gap: 0.5em;
}

@media screen and (max-width: 599px) {
    /*Especifidad: 001*/
    header{
        flex-direction: column;
        /*Redefinición de flex-wrap:
            Ya no es necesario ya que la dirección ahora es columna*/
        flex-wrap: nowrap;
    } 
    /*Especifidad: 001*/
    nav {
        flex-direction: column;
        row-gap: 0.5em;
    }
}

