/*Sergio Truébano Robles*/

/*Especifidad: 001*/
header{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-evenly;
}

/*Especifidad: 002*/
header>nav {
    display: flex;
    column-gap: 0.5em;
}

@media screen and (max-width: 599px) {
    /*Especifidad: 001*/
    header{
        flex-direction: column;
        /*Redefinición de flex-wrap:
            Ya no es necesario ya que la dirección ahora es columna*/
        flex-wrap: nowrap;
    } 
    /*Especifidad: 002*/
    header>h1 {
        text-align: center;
    }
    /*Especifidad: 002*/
    header>nav {
        flex-direction: column;
        row-gap: 0.5em;
    }
}

