/*Sergio Truébano Robles*/

/*Especifidad: 001*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}
/*Especifidad: 011*/
main > :first-child {
    flex-basis: 100%;
}
/*Especifidad: 002*/ 
main article {
    width: calc(25% - 0.8em);
    height: 13em;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,.3);
}
/*Especifidades: 012, 012*/
main article[data-state="flip"],
main article[data-state="revealed"] {
    transform: rotateY(180deg);
}
/*Especifidades: 003, 003*/
main article h3,
main article img {
    width: 100%;
    height: 100%;
    position: absolute; 
    border-radius: 0.2em;
    color: white;
    background: #125082;
    backface-visibility: hidden;
}
/*Especifidades: 003*/
main article h3 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center; 
    font-size: 0.8em;
    margin: 0;
}
/*Especifidades: 003*/
main article img {
    transform: rotateY(180deg);
}