/*Especificidad 011*/
main>section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}
main>section>h3{
    flex-basis: 100%;
}
article[data-element="meteo"] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0em 0.8em;
    border: 0.3em solid black;
    border-radius: 2em;
    max-width: 30em;
    /*Color heredado de body*/
    background-color: white;
}
article[data-element="meteo"] h4 { 
    display: block;
    grid-column: span 4;
}
article[data-element="meteo"] ul { 
    list-style-type: disc;
    grid-column: span 3;
}